
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h4>Minha Cesta</h4>
<a href="/Home/Index">Voltar</a> para a página inicial
<br />
<br />

@using Projeto.Web.Models
@{ 
    if (Session["cesta"] != null)
    {
        Cesta c = (Cesta)Session["cesta"];

        <h3>Total da Cesta: @c.ValorTotal.ToString("c")</h3>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Foto</th>
                    <th>Nome do Produto</th>
                    <th>Preço</th>
                    <th>Quantidade</th>
                    <th>Valor Total</th>
                    <th>Operações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in c.ItensCesta)
                {
                    <tr>
                        <td><img src="/imagens/@item.Produto.Foto" width="60" height="50" /></td>
                        <td>@item.Produto.Nome</td>
                        <td>@item.Produto.Preco.ToString("c")</td>
                        <td>@item.Quantidade</td>
                        <td>@item.ValorTotal.ToString("c")</td>
                        <td>

                            <a href="/Produto/DiminuirQuantidade/@item.Produto.IdProduto" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-minus"></span> 
                            </a>

                            <a href="/Produto/AumentarQuantidade/@item.Produto.IdProduto" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>

                            <a href="/Produto/ExcluirItem/@item.Produto.IdProduto" class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>

                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6">
                        <a href="/Produto/ExcluirCesta" class="btn btn-warning btn-sm">
                            Apagar Cesta
                        </a>
                    </td>
                </tr>
            </tfoot>
        </table>
    }
}


